
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*#2a9d8f grüne farbe*/

.titel, .untertitel, .ausgabebereich{
    font-size: 2rem;
    
}
.nameanzeige{
font-size: 1.5rem;
margin-bottom: 50px;
}

#subbtn, #werzahlt{
    background-color:#2a9d8f ;
    border:2px solid #4C4B63;
    border-radius: 4px;
    font-size: 1.5rem;
    padding: 10px 24px;
    box-shadow: 6px 6px 10px hsla(300,15%,25%,0.3) inset;

}
#subbtn:hover, #werzahlt:hover{
    background-color: #76e44b;

}

#name{
font-size: 1rem;
width: 150px;
height: 48px;
text-align: center;

}

.namegezogen{
font-size: 3rem;
margin:50px 0px;

}




/* Grid*/
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 150px 150px 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.titel {
grid-column: 1/1;
grid-row: 1/2;

}

.untertitel{
grid-column: 1/1;
grid-row: 2/3;

}

.eingabebereich{
grid-column: 1/1;
grid-row: 3/4;

}

.nameanzeige{
grid-column: 1/1;
grid-row: 4/5;

}

.ausgabebereich{
grid-column: 1/1;
grid-row: 5/7;

}

@media only screen and (max-width: 500px) {

     .titel, .untertitel, .ausgabebereich{
        
        font-size: 1.5rem;

     }

.titel{
    margin: 50px 0px;
}

.namegezogen{
    font-size: 2rem;
    margin:50px 0px;
    
    }


     }